name: CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.9]

    defaults:
      run:
        shell: bash -l {0}

    steps:

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install miniforge
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        mamba-version: "*"
        channels: conda-forge

    - name: Install Mercurial in a conda env
      run: |
        conda activate test
        mamba install mercurial -y
        which python
        which hg
        cd $HOME
        hg clone https://foss.heptapod.net/mercurial/hg-git/
        cd hg-git
        pip install -e .
        mkdir -p $HOME/.local/bin
        ln -s /usr/share/miniconda3/test/bin/hg $HOME/.local/bin/hg
        export PATH=$HOME/.local/bin:$PATH
        hg version -v --config extensions.hggit=

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: build
      run: |
        ls /usr/share/miniconda3/test/bin/hg
        export PATH=$HOME/.local/bin:$PATH
        which hg
        echo "Outside the isolated build, hg-git is installed:"
        hg version -v --config extensions.hggit=
        echo "In the isolated build, Mercurial can't import hg-git:"
        pip install . -v
