name: CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.9]

    steps:

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install hg-git with --user
      run: |
        hg debuginstall
        $(hg debuginstall -T "{pythonexe}") -m pip install dulwich hg-git --user

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: build
      run: |
        hg version -v --config extensions.hggit=
        pip install . -v
